body { background: #ac5c33; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 27px; display: flex; }
.block-filter-0 { color: #9928cd; font-size: 21px; margin-bottom: 5px; }
.block-invoice-1 { color: #391f9d; font-size: 17px; margin-bottom: 5px; }
.block-validator-2 { color: #e72f2c; font-size: 19px; margin-bottom: 5px; }
.block-database-3 { color: #593c43; font-size: 19px; margin-bottom: 5px; }
.block-router-4 { color: #857a86; font-size: 21px; margin-bottom: 5px; }
.block-config-5 { color: #210890; font-size: 14px; margin-bottom: 5px; }
.block-cluster-6 { color: #bce54f; font-size: 15px; margin-bottom: 5px; }
.block-search-7 { color: #c222a0; font-size: 15px; margin-bottom: 5px; }
.block-config-8 { color: #3fd1b1; font-size: 21px; margin-bottom: 5px; }
.block-session-9 { color: #4edb3d; font-size: 18px; margin-bottom: 5px; }
.block-config-10 { color: #6c4cae; font-size: 14px; margin-bottom: 5px; }
.block-product-11 { color: #f84dec; font-size: 15px; margin-bottom: 5px; }